body {
	margin: 0;
}

#loader {
	height: 100vh;
	width: 100vw;
	background-color: #fffaf0;
	position: relative;
	font-family: 'Oleo Script';
}

#loader .wrapper {
	width: 100px;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#loader img {
	width: 100%;
}

/*==========================
		PARALLAX
============================*/
.parallax {
  perspective: 300px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective-origin-x: 100%;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin-x: 100%;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-300px) scale(2);
}

/*==========================
		NAVBAR
============================*/
#navbar {
	position: fixed;
	width: 100%;
	z-index: 100;
	text-align: right;
}

#logo-nv {
	left: 20px;
    position: absolute;
    top: 20px;
}

#logo-nv img {
	/*width: 60px;*/
	width: 3.5em;
}

#trigger {
	position: absolute;
	right: 55px;
	top: 15px;
	width: 100px;
	z-index: 1;
}

#trigger div {
	width: 100%;
	height: 70px;
	position: absolute;
	border: 1px solid black;
}

#trigger img {
	cursor: pointer;
	width: 100%;
	transform: rotate(-5deg);
	-webkit-filter: sepia(20%) drop-shadow(1px 0.5px 0.5px rgba(0,0,0,0.5));
}

#postcard {
	position: absolute;
	top: 0;
	right: -200px;
	height: 100vh;
	width: 200px;
	padding-top: 140px;
}

#navbar:not(.out) #postcard {
	right: -200px;
	transition: right 1s ease;
}

#navbar.out #postcard {
	right: 0;
	transition: right 1s ease;
}

#navbar h2 {
	text-align: center;
	font-family: "Oleo Script";
	margin-top: -5px;
}

#postcard div {
	height: 3.5em;
	margin-right: 55px;
	margin-bottom: 15px;
	position: relative;
}

#postcard span {
	position: absolute;
	left: 18px;
	margin-top: 15px;
	display: none;
}

#postcard div img {
	height: 100%;
	-webkit-filter: sepia(20%) drop-shadow(1px 0.5px 0.5px rgba(0,0,0,0.5));
}

#postcard div:hover img {
	-webkit-filter: sepia(0%);
	transform: scale(1.01);
}

#postcard div:hover span {
	display: inline-block;
}

#postmark {
	width: 75px;
    position: absolute;
    left: 55px;
    z-index: 10;
    display: none;
    opacity: 0.5;
}

/*==========================
		HOME
============================*/
#home {
	margin-top: 30px;
	margin-bottom: 200px;
	padding-bottom: 200px;
}

#home #logo {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

#home #logo img:not(#pkraden) {
	width: 100%;
	margin-top: 75px;
}

#home #logo #pkraden {
	position: absolute;
	z-index: -1;
	width: 50%;
	left: 50%;
	transform: translateX(-50%);
}


/*================
		ABOUT
==================*/
#about {
	width: 100%;
	margin-left: 4%;
	font-family: Italianno, serif;
	margin-top: 100px;
	margin-bottom: 100px;
	position: relative;
}

#about .left, .right {
	float: left;
	font-size: 4vw;
	text-align: center;	
}

#about .desc {
	font-size: 1.8vw;
	text-align: center;
	width: 90%;
	background-color: rgba(213, 167, 121, 0.85);
	display: inline-block;
	font-family: cursive;
	border-radius: 10px;
	text-shadow: 1px 1px 2px white, 0 0 25px gray;
}

#about p {
	padding: 0 6%;
}

#about .divider{
	float:left;
	padding-left: 20px;
	width: 2%;
}

#about .stamp .saveTheDate {
	height: 11.5em;
	width: auto;
	position: absolute;
	top: -79px;
	right: 200px;
}

#about .stamp .parking {
	height: 110px;
	width: auto;
	position: absolute;
	top: -27px;
	right: 454px;
}

#about .stamp .admission {
	height: 120px;
	width: auto;
	position: absolute;
	top: -20px;
	right: 360px;
	transform: rotate(5deg);
}

#about .divider img {
	height: 450px;
}

#about .left img {
	-webkit-filter: drop-shadow(1px 2px 2px rgba(0,0,0,0.5));
	width: 100%;
	height: auto;
}

#about .left {
	padding-top: 20px;
	width: 48%;
}

#about .right {
	padding-top: 140px;
	padding-bottom: 15px;
	width: 46%;
}

#about .time, .city {
	font-size: 3vw;
	padding-top: 0;
	margin-bottom: 0;
}

#about .date, .loc {
	width: 50%;
	border-bottom: 1px solid #38546d;
	margin-left: 50px;
}

/*==========================
		SCHEDULE
============================*/

#schedule p {
	margin: 20px;
}

#schedule .timeline {
	width: 50%;
	float: left;
	margin: 0 0 10px;
	padding: 10px 68px 0 0;
	position: relative;
	text-align: right;
}

#schedule .timeline span {
	position: absolute;
	right: 0;
	top: 30px;
	font-size: 2em;
	color: #999;
}

#schedule .even {
	float: right;
	padding: 10px 0 0 68px;
	text-align: left;
}

#schedule .even span {
	left: 0;
	color: #ca0000;
}

/*==========================
		TRAILER
============================*/
#trailer {
	position: relative;
	height: 200px;
}

#trailer .wrapper {
	position: absolute;
	left: -10%;
	width: 400%;
	transform: rotate(5deg);
}

#trailer .strip {
	background-image: url(../img/strip.png);
    background-size: 400px 100%;
    background-repeat-x: repeat;
    height: 20px;
}

#trailer div:not(.strip):not(.wrapper) {
	background-color: rgb(49, 41, 41);
}

#trailer a {
	display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: 270px;
}

#trailer div:not(.strip) img {
	-webkit-filter: sepia(50%);
	filter: sepia(50%);
	width: 100%;
}

/*==========================
		STATS
============================*/
#stats {
	width: 100vw;
	position: relative;
	margin-top: 150px;
}

#stats img {
	width: 100%;
	position: absolute;
	z-index: 1;
}

#stats #pola {
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 7em;
	text-align: center;
}

#stats #pola img {
	/*width: 260px;*/
	width: 15em;
	/*
	margin-right: 18px;
	margin-left: 18px;
	*/
	margin-right: 1em;
	margin-left: 1em;
	position: relative;
	z-index: 0;
}

#stats #pola img:nth-child(1) {
	transform: rotate(3deg);
}

#stats #pola img:nth-child(2) {
	transform: rotate(-2deg);
}

#stats #pola img:nth-child(3) {
	transform: rotate(2deg);
}


/*==========================
		EVENTS
============================*/

#event {
	text-align: center;
	margin-top: 105px;
	margin-bottom: 150px;
}

#event h2 {
	font-family: 'Oleo Script';
	font-size: 50px; 
	display: inline-block;
}

#event hr {
	width: 50px;
	display: inline-block;
}

#event .wrapper {
	margin-top: 50px;
	width: 100%;
}

#event .ev-item {
	display: inline-block;
	width: 360px;
	height: 468px;
	margin-right: 20px;
	margin-left: 20px;
	vertical-align: text-top;
}

#event .ev-item img {
	width: 100%;
	-webkit-filter: sepia(30%) drop-shadow(1px 2px 2px rgba(0,0,0,0.5));
	transition: all 0.5s ease;
}

#event .ev-item p {
	opacity: 0;
	transition: all 0.5s ease;
	border: 1px solid black;
    padding: 5px;
}

#event .ev-item img:hover + p {
	opacity: 1;
}

#event .ev-item img:hover {
	-webkit-filter: sepia(0%) drop-shadow(1px 2px 2px rgba(0,0,0,0.5));
}


/*==========================
		VENDORS
============================*/
#food {
	margin-bottom: 150px;
	width: 100%;
	text-align: center;
}

#food .title hr {
	display: inline-block;
	width: 50px;
}

#food h2 {
	display: inline-block;
	font-family: 'Oleo Script';
	font-size: 50px;
}

#food img {
	width: 40%;
	display: block;
}

.vendor {
	display: inline-block;
	/*
	width: 250px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 15px;
	*/
	width: 15em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
	vertical-align: text-top;
}

.vendor ul {
	list-style-type: none;
	text-align: left;
	padding: 0;
}

.vendor li {
	margin-bottom: 2px;
	margin-top: 4px;
	overflow: hidden;
}

#vendor-r2 img {
	display: inline-block;
	vertical-align: top;
    margin-top: 50px;
    /*-webkit-filter: sepia(30%) drop-shadow(1px 2px 2px rgba(0,0,0,0.5));*/
}

#vendor-r2 .vendor {
	display: block;
}

#vendor-r2 .v-wrapper {
	display: inline-block;
}

.vendor span.price {
	float: right;
	display: inline-block;
}

.vendor span.fd {
	display: inline-block;
	width: 84%;
	font-family: 'Bree Serif';
}

.vendor span.fd-ex {
	display: block;
	font-style: italic;
	margin-left: 10px;
	font-family: serif;
}

/*======================
		VOLUNTEER
========================*/
#volunteer{
	margin-bottom: 100px;
	width: 100%;
	display: inline-block;
	text-align: center;
}

#volunteer .title hr {
	display: inline-block;
	width: 50px;
}

#volunteer h2 {
	display: inline-block;
	font-family: 'Oleo Script';
	font-size: 50px;
}

#volunteer img{
	float: left;
	width: 100%;
	-webkit-filter: drop-shadow(1px 2px 2px rgba(0,0,0,0.5));
}

#volunteer .desc {
    display: inline-block;
    margin-top: 30px;
    font-family: 'Bree Serif';
    font-size: 1.4vw;
}

#volunteer .box{
	display: inline-block;
	position: relative;
	width: 40%;
	margin: 0 4%;
	float: left;
}

#volunteer .stamp{
	position: absolute;
	display: inline-block;
	top: 52%;
	left: 74%;
	width: 100px; 
	opacity: 0;
}

#volunteer a:hover + a > .stamp {
	opacity: 1;
}

#volunteer .stamp:hover {
	opacity: 1;
}


/*==========================
		OFFICERS
============================*/

#officers {
	width: 100%;
	text-align: center;
	/* margin-top: 105px; */
	margin-bottom: 150px;
}

#officers h2 {
	font-family: 'Oleo Script';
	font-size: 50px; 
	display: inline-block;
}

#officers hr {
	width: 50px;
	display: inline-block;
}

#officers .wrapper {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

#officers .off {
	width: 8em;
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
	margin-left: 10px;
}

#officers .off img {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	display: block;
	border-radius: 50%; 
}

#officers .off span {
	display: block;
	margin-top: 3px;
	font-family: serif;
}

#officers .off h4 {
	margin-top: 0;
	font-family: 'Bree Serif';
}


/*======================
		FOOTER
========================*/

#footer {
	/*position: fixed;*/
	padding: 15px 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#footer .wrapper {
	position: relative;
}

#footer section {
	position: absolute !important;
	height: 420px;
}

#footer-space {
	width: 100%;
	height: 80px;
	background: transparent !important;
}

#last-section {
	margin-bottom: -75px !important;
	padding: 5px 0;
	color: #FFF;
}

#last-section nav {
	opacity: 0.85;
}

#last-section nav > ul {
	font-size: 0;
	list-style: none;
	text-align: center;
}

#last-section nav > ul > li {
	margin: 0 15px;
	font-size: 26px;
	display: inline-block;
}

#last-section nav > ul > li > a {
	font-family: 'Bree Serif';
	text-decoration: none;
	color: black;
}


/* # -- SUBSCRIBE
================== */

#subscribe {
	background-image: url('../img/sponsor-f.png');
	width: 100%;
	background-size: cover;
}

#subscribe form {
	position: relative;
	margin: 25px auto;
	padding: 0 20px;
	max-width: 410px;
		width: 100%;
		height: 41px;
	overflow: hidden;
}

#subscribe form input,
#subscribe form .status {
	display: block;
}

#subscribe form .status {
	padding: 10px 0;
	text-align: center;
}

#subscribe form input[type="email"] {
	position: relative;
	width: 100%;
	background: #FFF;
	
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
		filter: alpha(opacity=85);
		opacity: 0.85;
}

#subscribe form input[type="email"]:focus {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		opacity: 1;
}

#subscribe form input[type="submit"] {
	position: absolute;
	top: 0;
	right: 20px; /* padding fix */
	
	-webkit-border-radius: 0 3px 3px 0;
			border-radius: 0 3px 3px 0;
}


/* # -- FEEDBACK
===================*/

#feedback p {
	color: #7a7d81;
}

#feedback ul {
	font-size: 0;
	list-style: none;
	text-align: center;
}

#feedback ul > li {
	padding: 0 35px;
	width: 40%;
	font-size: 16px;
	vertical-align: top;
	text-align: left;
	display: inline-block;
	font-family: 'Bree Serif';

}

#feedback form > div:last-child {
	text-align: right;
}

#feedback form input,
#feedback form textarea {
	margin: 10px 0;
	width: 100%;
	display: block;
	
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
		filter: alpha(opacity=85);
		opacity: 0.85;
}

#feedback form input:focus,
#feedback form textarea:focus {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		opacity: 1;
}

#feedback form textarea {
	height: 150px;
}

#feedback form input[type="submit"] {
	margin: 0;
	margin-left: 20px;
	width: auto;
	
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		opacity: 1;
	
	vertical-align: middle;
	display: inline;
}

#feedback form .status {
	color: #7a7d81;
	vertical-align: middle;
}


/* # -- CONTACTS
==================== */

#contacts {
	position: relative;
	padding: 0 100px;
}

#contacts .text {
	position: absolute;
	margin-left: -1px;
	padding: 30px;
	width: 30%;
	height: 82%;
	background: #252525;
	background: rgba(38, 38, 38, 0.95);
	text-align: left;
	overflow: hidden;
	z-index: 3;
	font-family: 'Bree Serif';
	color: white;
}

#contacts .text ul {
	margin: 45px 0;
}

#contacts .text ul > li {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
		filter: alpha(opacity=70);
		opacity: 0.7;
	-webkit-transition: opacity 0.2s; 
	   -moz-transition: opacity 0.2s; 
		 -o-transition: opacity 0.2s; 
		    transition: opacity 0.2s;
}

#contacts .text ul > li:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		opacity: 1;
}

#map {
	background-image: url(../img/gmap-layout.jpg);
	background-position: 50% 0;
}

#map .marksys {
	display: none;
}

.icon-twitter  	{ background-image: url(../img/01_twitter.png)	   }
.icon-facebook 	{ background-image: url(../img/02_facebook.png)   }
.icon-youtube  	{ background-image: url(../img/03_youtube.png)    }
.icon-instagram { background-image: url(../img/10_instagram.png)  }

ul.social {
	font-size: 0;
	list-style: none;
}

ul.social > li {
	margin: 0 5px;
	font-size: 22px;
	display: inline-block;
}

/* -- icons -- */
ul.social.icons > li > a {
	width: 32px;
	height: 32px;
	-webkit-background-size: 32px;
	   -moz-background-size: 32px;
	     -o-background-size: 32px;
			background-size: 32px;
	display: block;
	text-decoration: none;
}

.btn.no-color.current {
	cursor: default;
}

.btn.no-color.current,
.btn.no-color:hover {
	border-bottom: 2px solid #5C2A19;
}

